# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
db.sqlite3

# Venv
venv/
.venv/
backend/venv/

# Env files
.env
backend/.env
frontend/.env.local
frontend/.env.*.local

# Next.js / Node
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.turbo/
frontend/coverage/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db
